<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auth-login-stub-stub</title>
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/images/mdtp.jpg" type="image/x-icon">
    <link rel="stylesheet" media="screen" href="/stylesheets/main.css">
    <link href="/stylesheets/hmrc-frontend-2.7.0.min.css" media="all" rel="stylesheet" type="text/css">
    <script src="/js/hmrc-frontend-2.7.0.min.js"></script>
</head>

<body class="govuk-template__body  js-enabled">
    <header role="banner">
        <div class="govuk-header hmrc-header " data-module="header">
            <div class="govuk-header__container  govuk-width-container">
                <div class="govuk-header__content">
                    <center>
                        <a href="/" class="hmrc-header__service-name hmrc-header__service-name--linked">Auth-login-stub-stub</a>
                    </center>
                </div>
            </div>
        </div>
    </header>

    <div class="govuk-width-container ">
        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div id="content">
                        <article class="content-body">
                            <header class="hmrc-page-heading">
                                <h1 class="govuk-heading-l"> {{ h1 }} </h1>
                            </header>
                            <form method="post" enctype="application/x-www-form-urlencoded" id="service-form">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="service">
                                        Pick service
                                    </label>
                                    <select class="govuk-select" id="service" name="service">
                                        {% for service in services %}
                                        <option value="{{ service }}"> {{ service }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div id="buttons" class="govuk-button-group">
                                    <button type="submit" class="govuk-button" data-module="govuk-button" formaction="/quick-submit">
                                        Quick login
                                    </button>
                                    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" formaction="/custom-submit">
                                        Customise parameters
                                    </button>
                                </div>
                            </form>
                        </article>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
